.mission {
    background-color: #B6D7B9;
    color: #646536;
}

.dancers {
    background-color: #D0F1BF;
    color: #646536;
}

head {
    background-color: #9ABD97;
    color:#483D03;
}

body {
    background-color: #9ABD97;
    color:#483D03;

}

p {
    color: #646536
}