
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.mission {
    margin: 5% 20%;
    background-color: #D0F1BF;
    color: #646536;
}

.dancers {
    background-color: #D0F1BF;
    color: #646536;
}


.navbar {
    background-color: rgb(25, 173, 72);;
  }

  .navbar ul {
    list-style: none;
    width: 100%;
    margin: 0 auto;

    padding: 0;
    /* 
          For navbars use background color that stands out.
    */
    background-color: rgb(25, 173, 72);
    text-align: center;
  }
  
  /*  
      Style individual list items.
  */
  .navbar li {
    width: 40%;
    border: 2px solid rgb(32, 152, 70);
    /* 
          Show the navbar elements next to each other instead of on top of each 
          other. 
    */
    padding: 9px;
    display: inline-block;
    line-height: 40px;
  }
  
  /* 
      Style links in navbar.
  */
  .navbar a {
    color: #fff;
    text-decoration: none;
  }

.flex-image{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 5%;
    gap: 1%;
}

.flex-image-grp{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 2%;
}

.flex-image-ind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1%;
    gap: 1%;
}

html {
    text-align: center;
}

body {
    margin: 1%;
    background-color: #D0F1BF;
    color:#483D03;
    font-family: "Montserrat", sans-serif;
}

p {
    color: #646536
}

#blue-text {
    color: blue;
    font-style: italic;
}

#dancer-header {
    font-family: "Montserrat", serif;
    font-style: oblique;

}

#ruby {
    margin: 0% 20%;
    text-align: center;
}
#yenta {
    margin: 0% 20%;
    text-align: center;
}
#sage {
    margin: 0% 20%;
    text-align: center;
}

.iframe-class {
    background-color: black;
    color: white;
    margin: 0px
}